.my-stack {
  font-size: 0.75em;
}

.social-icons-row a {
  font-size: 1.5em;
}

.message-success {
  margin-bottom: 15px;
}

.btn-download {
  font-size: 10px;
  padding: 5px;
}
.btn-github {
  position: absolute;
  top: -5px;
  right: 37px;
  margin-top: 5px;
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  color: rgb(155, 155, 155);
  border-radius: 0px;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.322);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-width: 50px;
}
.btn-live {
  margin-top: 5px;
  margin-left: 4px;
  font-size: 10px;
  padding: 3px;
  min-width: 100px;
}
a.alanthinks-link {
  color: #ff0037;
}
a.alanthinks-link:hover {
  color: #ff005c;
}

.alanthinks-hover a:hover {
  color: #ff0037;
}

.resume-box .resume-info:before {
  width: 12px;
  height: 12px;
  border: 1.5px solid #ff0037;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
}

.resume-info {
  border-left: 2px solid #ff0037;
  padding-left: 20px;
}

.resume-info .resume-company {
  font-size: 13px;
  color: grey;
  margin-bottom: 5px;
}
.btn-small-width {
  min-width: 100px;
}

#top-left-logo:hover {
  cursor: pointer;
}

#projects-big-btn:hover {
  cursor: pointer;
}

#contact-big-btn:hover {
  cursor: pointer;
}

.project-single-desc .tags {
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
}
.project-single-desc .tags li {
  padding-left: 0px;
  display: inline-block;
  /* line-height: 20px; */
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  padding: 4px 9px;
  margin-top: 6px;
  border-radius: 3px;
}
.project-single-title > h3 {
  display: inline-block;
}
.mdi-15px {
  font-size: 15px;
}

.single-project-row h4 {
  border-bottom: #ff0037 1px solid;
  margin-bottom: 6px;
}

.more-projects h5 {
  font-size: 13px;
}
.more-projects .tags li {
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 7px;
}

.project-name > h5 {
  text-decoration: underline;
}

.swipe-explanation {
  font-size: 1.2rem;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 1000px) {
  .swipe-explanation {
    display: none;
  }
}

.project-name em {
  font-size: 12px;
}
