.my-stack{
    font-size: .75em;
}

.social-icons-row a{
    font-size:1.5em;
}

.message-success{
    margin-bottom: 15px;
}

.btn-download{
    font-size: 10px;
    padding:5px;
}
a.alanthinks-link{
    color: #ff0037;
    }
a.alanthinks-link:hover{
color: #ff005c;
}

.alanthinks-hover a:hover{
    color:#ff0037;
}