@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1100px) {
  .fixed-img {
    width: 300px;
  }
}

@media (max-width: 765px) {
  .container {
    background-size: inherit;
  }
  .fixed-img {
    width: 200px;
  }
  .header-img::before {
    display: none;
  }
  .testimonial-box .testimonial-name {
    float: left;
    left: 100px;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 492px) {
  .fixed-img {
    width: 150px;
  }

  .value-text {
    width: 65%;
    font-size: 0.9rem;
  }
  header .header-text {
    text-align: center;
  }
  .barcelona-cta {
    line-height: 1;
  }
  .btn-subtext {
    display: none;
  }
  .btn-subtext-mobile {
    display: inline-block;
  }

  /* .barcelona-cta-fix {
    position: static;
    transition: 0.3s all ease;
  } */
  .notifications-bar {
    margin-bottom: 30px;
  }
}

@media (max-width: 350px) {
  .container {
    width: 115%;
  }
  .barcelona-cta {
    font-size: 1rem;
  }
  .btn-subtext-mobile {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) and (max-height: 729px) {
  .barcelona-cta {
    position: fixed;
    bottom: 50px;
    left: 30px;
    transition: 0.3s all ease;
  }
}

@media (max-width: 450px) and (min-height: 730px) {
  .barcelona-cta {
    position: static;
    display: block;
    left: none;
    bottom: none;
    margin: auto;
  }
}
